<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNii1FY3rBQC5G7E6RrPGGtG4C5dyBy_M</string>
	<key>GCM_SENDER_ID</key>
	<string>480486382429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.navetacandra.presence</string>
	<key>PROJECT_ID</key>
	<string>presences-app</string>
	<key>STORAGE_BUCKET</key>
	<string>presences-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480486382429:ios:fcec9b05f013c6de9aa6b4</string>
</dict>
</plist>